NODE_ENV=production
PORT=5000
AUTH_SERVICE_URL=http://127.0.0.1:5101
UPSTREAM_CONNECT_TIMEOUT_MS=5000
UPSTREAM_REQUEST_TIMEOUT_MS=30000
SHUTDOWN_TIMEOUT_MS=10000
TRUSTED_PROXY_HOPS=0
LOG_LEVEL=info

MESSAGE_SERVICE_URL=http://127.0.0.1:5102
REALTIME_HUB_URL=http://127.0.0.1:5108
CALL_SERVICE_URL=http://127.0.0.1:5103
MEDIA_SERVICE_URL=http://127.0.0.1:5104
NOTIFICATION_SERVICE_URL=http://127.0.0.1:5105
RELATIONSHIP_SERVICE_URL=http://127.0.0.1:5109
STATUS_SERVICE_URL=http://127.0.0.1:5110
SEARCH_SERVICE_URL=http://127.0.0.1:5106
ADMIN_SERVICE_URL=http://127.0.0.1:5107
